DB_URL=jdbc:postgresql://<your-rds-endpoint>:5432/<your-database-name>
DB_USERNAME=<your-username>
DB_PASSWORD=<your-super-secret-password>
OPENAI_API_KEY=<your-super-secret-api-key>

credentials.json file:
{
  "installed": {
    "client_id": "<your-cool-client-id>",
    "project_id": "<your-cool-project-id>",
    "auth_uri": "<your-cool-auth-url>",
    "token_uri": "<your-cool-token-url>",
    "auth_provider_x509_cert_url": "<your-cool-auth-provider>",
    "client_secret": "<your-cool-client-secret>",
    "redirect_uris": [
      "<your-cool-url>"
    ]
  }
}

token.json file:
{
  "token": "<your-cool-token>",
  "refresh_token": "<your-cool-token>",
  "token_uri": "<your-cool-token>",
  "client_id": "<your-cool-id>",
  "client_secret": "<your-cool-secret>",
  "scopes": [
    "<your-cool-scopes>"
  ],
  "universe_domain": "<your-cool-domain>",
  "account": "<your-cool-account>",
  "expiry": "<your-cool-expiry>"
}
